<%- if session[:last_registration_id].present? -%>
  <%= @last_registration_parking_spot_number %>
<%- end -%>

<h1>New registration</h1>

<%= render 'form' %>

<%= link_to 'Back', registrations_path %>
